.iconfont {
  margin-right: 8px;
}
.layui-icon {
  margin-left: 20px;
  margin-right: 8px;
}
#footer {
  text-align: center;
}
iframe {
  width: 100%;
  height: 100%;
}
/* 有两个滚动条，设置隐藏 */
.layui-body {
  overflow: hidden;
}
/* layui默认a链接有动画效果，手动取消 */
a {
  transition: none !important;
}
/* 渲染头像 */
.userinfo {
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  user-select: none;
}
/* 设置头像区  下边框线 */
.layui-side-scroll .userinfo {
  border-bottom: 1px solid #282b33;
}
.layui-nav-img {
  height: 40px;
  width: 40px;
}
.text-avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
